<div class="row">
    <div class="inside">
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-default dhis2-config">
                    <div class="panel-heading">
                        {{msg('server.home')}}
                        {{msg('mHealthDataInterface.web.settings.configPanelTitle')}}
                    </div>
                    <div class="panel-body">
                        <form name="form" class="form-horizontal inside" novalidate>

                            <div class="form-group">
                                <label for="mHealthDataInterface.openmrs.baseUrl" class="col-md-3 control-label">{{msg('mHealthDataInterface.openmrs.baseUrl')}}</label>
                                <div class="col-md-8">
                                    <input id="mHealthDataInterface.openmrs.baseUrl" type="text" ng-change="draftChanged()" class="form-control" ng-model="applicationSettings.baseUrl">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="mHealthDataInterface.openmrs.username" class="col-md-3 control-label">{{msg('mHealthDataInterface.openmrs.username')}}</label>
                                <div class="col-md-8">
                                    <input id="mHealthDataInterface.openmrs.username" type="text" ng-change="draftChanged()" class="form-control" ng-model="applicationSettings.username">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="mHealthDataInterface.openmrs.password" class="col-md-3 control-label">{{msg('mHealthDataInterface.openmrs.password')}}</label>
                                <div class="col-md-8">
                                    <input id="mHealthDataInterface.openmrs.password" type="password" ng-change="draftChanged()" class="form-control" ng-model="applicationSettings.password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mHealthDataInterface.openmrs.dbUrl" class="col-md-3 control-label">{{msg('mHealthDataInterface.openmrs.dbUrl')}}</label>
                                <div class="col-md-8">
                                    <input id="mHealthDataInterface.openmrs.dbUrl" type="text" ng-change="draftChanged()" class="form-control" ng-model="applicationSettings.dbUrl">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mHealthDataInterface.openmrs.dbDriver" class="col-md-3 control-label">{{msg('mHealthDataInterface.openmrs.dbDriver')}}</label>
                                <div class="col-md-8">
                                    <input id="mHealthDataInterface.openmrs.dbDriver" type="text" ng-change="draftChanged()" class="form-control" ng-model="applicationSettings.dbDriver">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mHealthDataInterface.openmrs.dbUsername" class="col-md-3 control-label">{{msg('mHealthDataInterface.openmrs.dbUsername')}}</label>
                                <div class="col-md-8">
                                    <input id="mHealthDataInterface.openmrs.dbUsername" type="text" ng-change="draftChanged()" class="form-control" ng-model="applicationSettings.dbUsername">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mHealthDataInterface.openmrs.dbPassword" class="col-md-3 control-label">{{msg('mHealthDataInterface.openmrs.dbPassword')}}</label>
                                <div class="col-md-8">
                                    <input id="mHealthDataInterface.openmrs.dbPassword" type="password" ng-change="draftChanged()" class="form-control" ng-model="applicationSettings.dbPassword">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="mHealthDataInterface.openmrs.errorMessage" class="col-md-3 control-label">{{msg('mHealthDataInterface.openmrs.errorMessage')}}</label>
                                <div class="col-md-8">
                                    <input id="mHealthDataInterface.openmrs.errorMessage" type="text" ng-change="draftChanged()" class="form-control" ng-model="applicationSettings.errorMessage">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="section" value="mHealthDataInterface.properties">
                                <input type="button" class="btn btn-default" ng-click="saveSettings(applicationSettings)" value="Save">
                                <input type="button" class="btn btn-default" ng-click="testSettings(applicationSettings)" value="Test Database Connection">
                            </div>
                            <div ng-show="saveSuccess" class="alert alert-success">{{msg('mHealthDataInterface.applicationSetting.save.success.message')}}</div>
                            <div ng-show="saveError" class="alert alert-danger">{{msg('mHealthDataInterface.applicationSetting.save.error.message')}}</div>
                            <div ng-show="retrievalError" class="alert alert-danger">{{msg('mHealthDataInterface.applicationSetting.retrieval.error.message')}}</div>
                            <div ng-show="testSuccess" class="alert alert-success">{{msg('mHealthDataInterface.applicationSetting.test.success.message')}}</div>
                            <div ng-show="testError" class="alert alert-danger">{{msg('mHealthDataInterface.applicationSetting.test.error.message')}}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
